# Variáveis de ambiente do Supabase
# Substitua os valores abaixo pelos do seu projeto

VITE_SUPABASE_URL=https://anrphijuostbgbscxmzx.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnBoaWp1b3N0Ymdic2N4bXp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU5NDc0OTcsImV4cCI6MjA2MTUyMzQ5N30.6I89FlKMWwckt7xIqt6i9HxrI0MkupzWIbKlhINblUc

VITE_SUPABASE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnBoaWp1b3N0Ymdic2N4bXp4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTk0NzQ5NywiZXhwIjoyMDYxNTIzNDk3fQ.y_wdHHgs1O4KkvonDDUUGlPGr0K42cMEXVYrmB7JolE

JWT_SECRET=H/IpDM4gVM6OVCtFbIxGonQxikd2iEqlWfqLOe+hr927WaW+k+AmN9EfzgqGF8dd6P1LWLo2ez+WRxZ4OeTHSQ==

DEEPSEEK_API=sk-6329c9cd430c46208a4de45770c4bacd